@stylex stylesheet;
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
#root,
html,
body {
  margin: 0%;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d4dfdc;
  /* overflow-y: hidden; */

  /* color: red; */
}

p,
h2,
h1,
h3,
h4,
input {
  margin: 0%;
  /* color: red; */
}

a {
  text-decoration: none;
  color: #82a3a1;
}

a:hover {
  color: #465362;
}

a:visited {
  color: #011936;
}
